<div class="container">
    <!--
            //(ngSubmit)="submitHandler()
        -->
    <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="submitHandler(formDirective)">
        <h1 [style.font-size.px]="40">Login</h1>
        <hr>
        <br>
        <div class="center">
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="john.doe.123@example.com" formControlName="Email" required>
                <mat-error *ngIf="Email.invalid && Email.touched">
                    {{getErrorMessageEmail()}}
                </mat-error>

            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="Password"
                    required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="Password.invalid && Password.touched">
                    {{getErrorMessagePassword()}}
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="center">
            <button mat-raised-button [disabled]="loginForm.invalid" color="docred" type="submit">Login</button>
        </div>
    </form>
</div>