<div class="container">
    <!---->
    <form [formGroup]="myForm" (ngSubmit)="submitHandler(formDirective)" #formDirective="ngForm">
        <h1 [style.font-size.px]="40">Register</h1>
        <hr>
        <br>
        <div class="center">
            <mat-form-field appearance="outline">
                <mat-label>Enter your first name</mat-label>
                <input matInput formControlName="FirstName" required>
                <mat-error *ngIf="FirstName.invalid && FirstName.touched">
                    {{getErrorMessageFirstName()}}
                </mat-error>
            </mat-form-field>

        </div>
        <br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Enter your last name</mat-label>
                <input matInput formControlName="LastName" required>
                <mat-error *ngIf="LastName.invalid &&  LastName.touched">
                    {{getErrorMessageLastName()}}
                </mat-error>
               
            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="john.doe.123@example.com" formControlName="Email" required>
                <mat-error *ngIf="Email.invalid && Email.touched">
                    {{getErrorMessageEmail()}}
                </mat-error>
                <mat-error *ngIf="myForm.get('Email').errors?.serverError">
                    {{myForm.get('Email').errors?.serverError}}
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="Password"
                    required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="Password.invalid && Password.touched">
                    {{getErrorMessagePassword()}}
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="center">
            <button mat-raised-button [disabled]="myForm.invalid" color="docred" type="submit">Register</button>
        </div>
    </form>
</div>