<mat-toolbar class="mat-elevation-z10 toolbar-style">
    <img class="top-bar-logo" src="assets/Images/DocShareAppLogo.png" alt="DocShareApp-Automobile">
    
    <span class="spacer"></span>

    <mat-menu #appAccountMenu="matMenu">
        <button routerLink="register" mat-menu-item>Register</button>
        <button routerLink="login" mat-menu-item>Login</button>
    </mat-menu>

    <a mat-fab class="account-button-color" [matMenuTriggerFor]="appAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </a>
</mat-toolbar>
